@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f5f9ff;
}

.wrapper{
display:flex;
min-height:100vh;
}

/* SIDEBAR */

.sidebar{
width:260px;
background:#0f4c81;
padding:30px 20px;
color:white;
position:fixed;
height:100%;
}

.logo{
text-align:center;
margin-bottom:40px;
}

.logo i{
font-size:45px;
margin-bottom:10px;
}

.logo h2{
font-weight:700;
}

.sidebar ul{
list-style:none;
}

.sidebar ul li{
margin:18px 0;
}

.sidebar ul li a{
color:white;
text-decoration:none;
font-size:17px;
display:block;
padding:12px;
border-radius:10px;
transition:0.3s;
}

.sidebar ul li a:hover{
background:#1565a7;
}

/* CONTENT */

.content{
margin-left:260px;
padding:30px;
width:100%;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.topbar h1{
font-weight:700;
color:#0f4c81;
}

.topbar p{
color:#64748b;
}

.profile-btn{
width:60px;
height:60px;
border:none;
border-radius:50%;
background:#00b4d8;
color:white;
font-size:22px;
}

/* CARDS */

.stats-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-bottom:30px;
}

.stat-card{
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
text-align:center;
transition:0.3s;
}

.stat-card:hover{
transform:translateY(-5px);
}

.stat-card h2{
color:#0f4c81;
font-weight:700;
}

/* FORM */

.card-box{
background:white;
padding:30px;
border-radius:20px;
margin-bottom:30px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.card-box h2{
margin-bottom:20px;
color:#0f4c81;
}

.form-control{
padding:12px;
border-radius:12px;
}

.predict-btn{
width:100%;
padding:14px;
border:none;
background:#00b4d8;
color:white;
font-weight:600;
border-radius:12px;
font-size:17px;
}

.predict-btn:hover{
background:#0098b7;
}

/* RESULT */

.result-box{
background:white;
padding:35px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
text-align:center;
margin-bottom:30px;
}

.result-box h1{
color:#22c55e;
font-size:45px;
font-weight:700;
}

.result-box h3{
color:#f59e0b;
margin-top:10px;
}

.factors{
margin-top:20px;
}

.factors ul{
list-style:none;
padding:0;
}

.factors li{
background:#eef7ff;
margin:10px 0;
padding:12px;
border-radius:10px;
}

/* TIPS */

.tips{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
}

.tips div{
background:#eef7ff;
padding:18px;
border-radius:12px;
font-weight:500;
}

/* DISCLAIMER */

.disclaimer{
margin-top:20px;
padding:20px;
background:#fff3cd;
border-radius:12px;
color:#856404;
}

/* MOBILE */

@media(max-width:992px){

.sidebar{
position:relative;
width:100%;
height:auto;
}

.content{
margin-left:0;
}

.wrapper{
flex-direction:column;
}

.topbar{
flex-direction:column;
gap:20px;
text-align:center;
}
}